

<div style="background-color:lightgrey;" class="row"></div>
<div style="background-color:lightgrey;" class="row">

		<div class="col-md-6"></div>
		
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
		<p>Name: <%= current_user.name %></p><p>Email: <%= current_user.email %></p>
		</div>
		<div class="col-md-2">
		<button type="button" class="btn btn-default"><a href="/users/<%= session[:id]%>/edit">Edit Profile</a></button>
		</div>
	</div>
	<div class="row">
		<h1>Add a secret</h1>
		<form action='/secrets' method='post'>
		<div class="form-group">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input type='hidden' name='user_id' value='<%= session[:id] %>'>
			<label>Secret:</label>
			<input type='text' name='content'>
	
			<input type='submit' value='Create Secret'>
		</div>
		</form>
	</div>
	<button button type="button" class="btn btn-default"><a href="/secrets">Check out all the Secrets</a></button>
	<div class="row">
		<div class="col-md-6">
			<h1>My Secrets</h1>
			<table style="border:solid;" class="table table-striped">
				<tr>
					<td>Content</td>
					<td>Like Count</td>
					<td>Actions</td>
		
				</tr>
				
				<% @secrets.each do |secret| %>
				<tr>
				<td>
					<%= secret.content %>
				</td>
				<td><%= secret.likes.count %></td>
				<td>
				
					<form action="/secrets/<%= secret.id %>" method="post">
					<input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type='hidden' name='_method' value='delete'>
					<button type='submit'>Delete Secret</button>
					</form>
				
				</td>
				</tr>
				<% end %>
				
			</table>
			
		</div>
		<div class="col-md-6">
			<h1>Secrets I Liked</h1>
			<table style="border:solid;" class="table table-striped">
				<tr>
					<td>Content</td>
					<td>Like Count</td>
					
		
				</tr>
				<% @allsecrets.each do |all| %>
				<% if all.users_liked.include?(current_user) == true %>
				
				<tr>
				<td>
					<%= all.content %>
				</td>
				<td><%= all.likes.count %></td>
				
				</tr>
				<% end %>
				<% end %>
				
			</table>
		</div>
	</div>
	


