<div class="container">
<h1>Listing Secrets</h1>
<table style="border:solid;"class="table table-striped">
	<tr>
		<td>Content</td>
		<td>Like Count</td>
		<td>Actions</td>
		
	</tr>
	<% @secrets.each do |secret| %>
	<tr>
		<td><%= secret.content %></td>
		<td><%= secret.likes.count %>
		
		</td>
		
		<td>
		
			
				<% if secret.users_liked.include?(current_user) == true %>
				<form action="/likes" method="post">
				<input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type='hidden' name='user_id' value='<%= session[:id] %>'>
				<input type='hidden' name='secret_id' value='<%= secret.id %>'>
				<input type='hidden' name='_method' value='delete'>
				<span style="display: inline;">
				<button type='submit'>Unlike</button>
				</span>
				</form>
				<% elsif secret.users_liked.include?(current_user) == false %>
				<form action="/likes" method="post">
				<input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type='hidden' name='user_id' value='<%= session[:id] %>'>
				<input type='hidden' name='secret_id' value='<%= secret.id %>'>
				<span style="display: inline;">
				<button type='submit'>Like</button>
				</span>
				</form>
				<% end %>
		
			<% if secret.user_id == current_user.id  %>
			<form action="/secrets/<%= secret.id %>" method="post">
			<input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type='hidden' name='_method' value='delete'>
			<button type='submit'>Delete Secret</button>
			</form>
			<% end  %>
		
			</td>
	<% end  %>
			
		
		</tr>
	
</table>
<a href="/users/<%= session[:id] %>">Back to Profile</a>

			
			</div>
